
@media (min-width:730px){

body {
    margin: auto;
    max-width: 900px;
    font-family: verdana;
}
header {
    height: 80px;
    background-color: black;
    color: white;
}

#title {
    font-size: 230%;
    padding: 20px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  
}

h2 {
  text-align: center;
  grid-column: 1/3;
}

.photo {
    display: block;
    padding: 20px;
    max-width: 400px;
    border-radius: 400px;
    float:right;
}

.inHead:link, .inhead:visited {
    background-color: #919191;
    color: white;
    padding: 30.5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.inHead:hover, .inHead:active {
    background-color: red;
}

#menu {
    width: 500px;
    float: right;
}

#contact {
    margin: auto;
}

.textInBlocks {
    padding: 10%;
    margin: auto;
}
}

@media (max-width:730px){
  header {
    height: 122px;
    background-color: black;
    color: white;
}
  span#title {
    font-size: 230%;
    margin: auto;
    
  }
  #menu {
    max-width: 500px;
    margin: auto;
}
  .inHead:link, .inhead:visited {
    background-color: #919191;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  section {
  display: grid;
  text-align: justify;
}
  h2 {
  text-align: center;
}
  .photo {
    display: block;
    padding: 20px;
    max-width: 320px;
    border-radius: 320px;
    margin: auto;
}
  .inHead:hover, .inHead:active {
    background-color: red;
}
  #contact {
    margin: auto;
}

.textInBlocks {
  background-color: black;
  color: white;
    padding: 10%;
    margin: auto;
}
}