
@media (min-width:730px){

body {
    margin: auto;
    max-width: 1000px;
    font-family: verdana;
}
header {
    height: 82px;
    background-color: black;
    color: white;
}

#title {
    font-size: 200%;
    padding: 20px;
    margin: auto;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  
}

h2 {
  text-align: center;
  grid-column: 1/3;
}

.photo {
    display: block;
    padding: 20px;
    max-width: 400px;
    border-radius: 400px;
    float:right;
}

.inHead:link, .inhead:visited {
    background-color: #919191;
    color: white;
    padding: 30.5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.inHead:hover, .inHead:active {
    background-color: red;
}

#menu {
    float: right;
}

#contact {
    margin: auto;
}

.textInBlocks {
    padding: 10%;
    margin: auto;
}
}

@media (max-width:800px){
    body {
    margin: auto;
    min-width: 320px;
    font-family: verdana;
}
  header {
    height: 100px;
    background-color: black;
    color: white;
}
  span#title {
    font-size: 230%;
    margin: auto;
    padding-left: 20px;
    
  }
  #menu {
    max-width: 500px;
    margin: auto;
}
  .inHead:link, .inhead:visited {
    background-color: #919191;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  section {
  display: grid;
  text-align: justify;
  margin: auto;
}
  h2 {
  text-align: center;
}
  .photo {
    display: block;
    padding: 20px;
    max-width: 320px;
    border-radius: 320px;
    margin: auto;
}
  .inHead:hover, .inHead:active {
    background-color: red;
}
  #contact {
    margin: auto;
}

.textInBlocks {

    padding: 10%;
    margin: auto;
}
}